<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="/img/logo.png">
        <link rel="stylesheet" href="/css/styles.css">
        <meta charset="UTF-8">
        <title>Contáctanos</title>
    </head>
    <body>
        <header>
            <strong>Distribuidora de Teja UPVC</strong>
            <div class="botones-header">
                <a href="/" class="boton-carrito">🏠 Volver al inicio</a>
                <a href="/catalogo" class="boton-carrito">Ver catálogo</a>
                <a href="/carrito" class="boton-carrito">🛒 Ver carrito</a>
            </div>
        </header>
        <div class="container">
            <h1>Contáctanos</h1>
            <p>Para más información, cotizaciones o pedidos, comunícate con nosotros:</p>
            <div class="social-buttons">
                <a href="https://www.tiktok.com/@distri.teja.upvc" class="social-btn tiktok-btn" target="_blank">
                    <i class="fab fa-tiktok"></i>
                    TikTok
                </a>

                <a href="https://www.instagram.com/distribuidora_de_teja_upvc" class="social-btn instagram-btn" target="_blank">
                    <i class="fab fa-instagram"></i>
                    Instagram
                </a>
            </div>
            <h2>✉️ Correo</h2>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=distribuidoradetejaupvc1@gmail.com&su=Asunto&body=Mensaje">distribuidoradetejaupvc1@gmail.com</a>
            <h2>📞 Teléfono y WhatsApp</h2>
            <a href="https://wa.me/573213537875?text=Hola%20quiero%20cotizar%20tejas%20UPVC">3213537875</a>
            <h2>📍 Lugar</h2>
            <p>Bogotá – Colombia</p>
        </div>
        <a class="wa-btn" href="https://wa.me/573213537875?text=Hola%20quiero%20cotizar%20tejas%20UPVC" target="_blank">
            <img src="/img/nino.png" alt="WhatsApp">
        </a>
    </body>
</html>