<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="/img/logo.png">
        <link rel="stylesheet" href="/css/styles.css">
        <meta charset="UTF-8">
        <title>Contáctanos</title>
    </head>
    <body>
        <h1>Formulario de contacto</h1>
        <div class="social-buttons">
            <a href="https://www.tiktok.com/@distri.teja.upvc" class="social-btn tiktok-btn" target="_blank">
                <i class="fab fa-tiktok"></i>
                TikTok
            </a>

            <a href="https://www.instagram.com/distribuidora_de_teja_upvc" class="social-btn instagram-btn" target="_blank">
                <i class="fab fa-instagram"></i>
                Instagram
            </a>
        </div>
        <p>Puedes escribirnos a distribuidoradetejaupvc1@gmail.com</p>
        <p>Teléfono: 57 321 353 7875</p>
        <a href="/">Volver al inicio</a>
        <a class="wa-btn" href="https://wa.me/573213537875?text=Hola%20quiero%20cotizar%20tejas%20UPVC" target="_blank">W</a>
    </body>
</html>